@import '../../styles/variables.scss';

.day__info {
    position: relative;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background: var(--components_bg_default);
    box-shadow: $box_Shadow;
    border-radius: 20px;
    
    &-cloud {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    column-gap: 20px;
    z-index: 99;
    &:last-of-type {
        margin-bottom: 0;
    }

    &__indicator {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $light_bg;
        box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
        border-radius: 50%;

        &-name {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $base_color;
        }

        &-value {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--text-color_default);
        }
    }
}